body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}


/* NAVBAR */

.navbar {
    background: #111827;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #38bdf8;
}


/* HERO */

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    color: #555;
}


/* BUTTONS */

.buttons {
    margin-top: 30px;
}

.btn {
    background: #2563eb;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #1d4ed8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #111827;
    color: white;
}
/* FORM */

input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
}

button {
    background: #2563eb;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.chart-box {
    width: 600px;
    margin: auto;
}
.chart-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.manual-link {
    margin-top: 20px;
    text-align: center;
}

.manual-link p {
    font-weight: bold;
    margin-bottom: 10px;
}