<!DOCTYPE html>
<html>
<head>
    <title>Finlytics</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="navbar">
    <h2>Finlytics</h2>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/transactions-page">Transactions</a>
        <a href="/upload-page">Upload</a>
        <a href="/summary-page">Summary</a>
        <a href="#" onclick="logout()">Logout</a>
    </div>
</div>


<div class="hero">

    <h1>Welcome to Finlytics</h1>

    <p>
        Smart finance tracker with PDF parsing,
        automatic categorization, and analytics dashboard.
    </p>


    <div class="buttons">

        <a href="/upload-page" class="btn">Upload Statement</a>

        <a href="/transactions-page" class="btn">View Transactions</a>

        <a href="/summary-page" class="btn">View Summary</a>


    </div>

</div>
<script>

    function logout() {

        fetch("/auth/logout")
            .then(() => {
                window.location = "/login-page"
            });

    }

</script>

</body>
</html>