<!DOCTYPE html>
<html>
<head>

  <title>Login - Finlytics</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body class="auth-body">

<div class="auth-box">

  <h2>Finlytics Login</h2>

  <input id="username" placeholder="Username or Email">

  <input id="password" type="password" placeholder="Password">

  <button onclick="login()">Login</button>

  <p>
    Not registered?
    <a href="/register-page">Register now</a>
  </p>

</div>

<script src="/js/login.js"></script>

</body>
</html>